In [10]:
import sklearn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()  # for plot styling

from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_samples, silhouette_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

from matplotlib import cm
from mpl_toolkits.mplot3d import Axes3D # for 3D plots

# Entendimiento de los datos

In [11]:
import pandas as pd 
pd.set_option('display.max_columns', 25)
pd.set_option('display.max_row', 50)

np.random.seed(3301)

%matplotlib inline
import matplotlib.pyplot as plt

In [15]:
#Ubicación de los datos 

#direccion carlos
#db_location = './OneDrive/Documents/UNIVERSIDAD DE LOS ANDES/INTELIGENCIA DE NEGOCIO/Laboratorio1/202320_Laboratorio 1 - Agrupación_data_MovieAlpes_data.csv'"

#direccion ernesto
db_location = '/Users/duman/Documents/universidad/7semestre/BI/BI-202302/Lab1/Data/OutputDatos2.csv'

In [16]:
#Cargar datos
df_movil = pd.read_csv(db_location, sep=',', encoding = 'ISO-8859-1')

In [17]:
#Dimension de los datos
df_movil.shape

(7462, 7)

In [18]:
#Ver los datos 
#display(df_movil.sample(5))
display(df_movil.head(5))
#display(df_movil.tail(5))

,ï»¿titleType,startYear,runtimeMinutes,numVotes,region,main_genre,secondary_genre
0,movie,1991,137,1128166,US,Action,Sci-Fi
1,tvSeries,2000,22,577,US,Action,Adventure
2,movie,2002,150,860569,US,Biography,Drama
3,movie,2004,120,417391,US,Action,Crime
4,movie,2005,132,5946,US,Biography,Drama

# Manipulación de los datos

In [19]:
df_movil.dtypes

ï»¿titleType       object
startYear           int64
runtimeMinutes      int64
numVotes            int64
region             object
main_genre         object
secondary_genre    object
dtype: object

In [20]:
df_movil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7462 entries, 0 to 7461
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ï»¿titleType     7462 non-null   object
 1   startYear        7462 non-null   int64
 2   runtimeMinutes   7462 non-null   int64
 3   numVotes         7462 non-null   int64
 4   region           7462 non-null   object
 5   main_genre       7462 non-null   object
 6   secondary_genre  7462 non-null   object
dtypes: int64(3), object(4)
memory usage: 408.2+ KB

In [21]:
df_movil.describe()

         startYear  runtimeMinutes      numVotes
count  7462.000000     7462.000000  7.462000e+03
mean   2013.162557      100.792147  7.288656e+04
std       6.977416       64.615235  1.641005e+05
min    1990.000000        3.000000  1.000000e+01
25%    2008.000000       60.000000  6.265250e+03
50%    2015.000000      101.000000  1.527900e+04
75%    2019.000000      122.000000  5.648475e+04
max    2023.000000      990.000000  2.197234e+06

In [22]:
columnas = ['titleType', 'startYear',	'runtimeMinutes',	'numVotes',	'region',	'main_genre',	'secondary_genre']
# Usar one hot encoding para convertir las variables categoricas en numericas
df_movil = pd.get_dummies(df_movil, columns=columnas)

KeyError: "['titleType'] not in index"