In [38]:
import sklearn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()  # for plot styling
import matplotlib.pyplot as plt

from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_samples, silhouette_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder


from matplotlib import cm
from mpl_toolkits.mplot3d import Axes3D # for 3D plots

# Entendimiento de los datos

In [39]:
import pandas as pd 
pd.set_option('display.max_columns', 25)
pd.set_option('display.max_row', 50)

np.random.seed(3301)

%matplotlib inline

In [43]:
#Ubicación de los datos 

#direccion carlos
#db_location = './OneDrive/Documents/UNIVERSIDAD DE LOS ANDES/INTELIGENCIA DE NEGOCIO/Laboratorio1/202320_Laboratorio 1 - Agrupación_data_MovieAlpes_data.csv'"

#direccion ernesto
db_location = '/Users/duman/Documents/universidad/7semestre/BI/BI-202302/Lab1/Data/OutputDatos2.csv'

In [44]:
#Cargar datos
df_movil = pd.read_csv(db_location, sep=',', encoding = 'ISO-8859-1')

In [48]:
#Dimension de los datos
df_movil.shape

(5121, 9)

In [49]:
#Ver los datos 
#display(df_movil.sample(5))
display(df_movil.head(5))
#display(df_movil.tail(5))

,ï»¿titleType,startYear,runtimeMinutes,averageRating,numVotes,region,types,main_genre,secondary_genre
0,movie,1991,137,"8,6",1128166,US,dvd,Action,Sci-Fi
1,movie,2002,150,"8,5",860569,US,imdbDisplay,Biography,Drama
2,movie,2004,120,"7,5",417391,US,imdbDisplay,Action,Crime
3,movie,2005,132,"6,9",5946,US,imdbDisplay,Biography,Drama
4,movie,2013,117,"7,9",502242,US,working,Biography,Drama

# Manipulación de los datos

In [50]:
df_movil.dtypes

ï»¿titleType       object
startYear           int64
runtimeMinutes      int64
averageRating      object
numVotes            int64
region             object
types              object
main_genre         object
secondary_genre    object
dtype: object

In [56]:
df_movil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5121 entries, 0 to 5120
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ï»¿titleType     5121 non-null   object
 1   startYear        5121 non-null   int64
 2   runtimeMinutes   5121 non-null   int64
 3   averageRating    5121 non-null   object
 4   numVotes         5121 non-null   int64
 5   region           5121 non-null   object
 6   types            5121 non-null   object
 7   main_genre       5121 non-null   object
 8   secondary_genre  5121 non-null   object
dtypes: int64(3), object(6)
memory usage: 360.2+ KB

In [30]:
df_movil.describe()

         startYear  runtimeMinutes      numVotes
count  7462.000000     7462.000000  7.462000e+03
mean   2013.162557      100.792147  7.288656e+04
std       6.977416       64.615235  1.641005e+05
min    1990.000000        3.000000  1.000000e+01
25%    2008.000000       60.000000  6.265250e+03
50%    2015.000000      101.000000  1.527900e+04
75%    2019.000000      122.000000  5.648475e+04
max    2023.000000      990.000000  2.197234e+06

In [31]:
columnas = ['ï»¿titleType', 'startYear',	'runtimeMinutes',	'numVotes',	'region',	'main_genre',	'secondary_genre']
# Usar one hot encoding para convertir las variables categoricas en numericas
df_movilC = pd.get_dummies(df_movil, columns=columnas)

In [35]:
#df_movilC.dtypes
#df_movilC.info() 
df_movilC.describe()

,ï»¿titleType_movie,ï»¿titleType_tvMiniSeries,ï»¿titleType_tvMovie,ï»¿titleType_tvSeries,startYear_1990,startYear_1991,startYear_1992,startYear_1993,startYear_1994,startYear_1995,startYear_1996,startYear_1997,...,secondary_genre_Mystery,secondary_genre_News,secondary_genre_No tiene,secondary_genre_Reality-TV,secondary_genre_Romance,secondary_genre_Sci-Fi,secondary_genre_Short,secondary_genre_Sport,secondary_genre_Talk-Show,secondary_genre_Thriller,secondary_genre_War,secondary_genre_Western
count,7462,7462,7462,7462,7462,7462,7462,7462,7462,7462,7462,7462,...,7462,7462,7462,7462,7462,7462,7462,7462,7462,7462,7462,7462
unique,2,2,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2,2,2
top,True,False,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False,False,False
freq,4676,7083,7392,5125,7445,7448,7446,7434,7440,7438,7445,7437,...,7203,7454,6410,7434,7009,7388,7455,7398,7458,7253,7408,7444