In [2]:
import sklearn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()  # for plot styling

from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_samples, silhouette_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

from matplotlib import cm
from mpl_toolkits.mplot3d import Axes3D # for 3D plots

# Entendimiento de los datos

In [3]:
import pandas as pd 
pd.set_option('display.max_columns', 25)
pd.set_option('display.max_row', 50)

np.random.seed(3301)

%matplotlib inline
import matplotlib.pyplot as plt

In [1]:
#Ubicación de los datos 

#direccion carlos
#db_location = './OneDrive/Documents/UNIVERSIDAD DE LOS ANDES/INTELIGENCIA DE NEGOCIO/Laboratorio1/202320_Laboratorio 1 - Agrupación_data_MovieAlpes_data.csv'"

#direccion ernesto
db_location = '/Users/duman/Documents/universidad/7semestre/BI/BI-202302/Lab1/Data/OutputDatos.csv'

In [4]:
#Cargar datos
df_movil= pd.read_csv(db_location, sep=',', encoding = 'ISO-8859-1')

In [7]:
#Dimension de los datos
df_movil.shape

(7462, 10)

In [16]:
#Ver los datos 
#display(df_movil.sample(5))
display(df_movil.head(5))
#display(df_movil.tail(5))

,ï»¿tconst,titleType,originalTitle,startYear,runtimeMinutes,numVotes,ordering,region,main_genre,secondary_genre
0,103064,movie,Terminator 2: Judgment Day,1991,137,1128166,17,US,Action,Sci-Fi
1,231050,tvSeries,ToransufÃÂ´mÃÂ¢: KÃÂ¢robotto,2000,22,577,16,US,Action,Adventure
2,253474,movie,The Pianist,2002,150,860569,7,US,Biography,Drama
3,369339,movie,Collateral,2004,120,417391,6,US,Action,Crime
4,439547,movie,2 Filhos de Francisco: A HistÃÂ³ria de ZezÃÂ...,2005,132,5946,5,US,Biography,Drama

# Manipulación de los datos

In [17]:
df_movil.dtypes

ï»¿tconst           int64
titleType          object
originalTitle      object
startYear           int64
runtimeMinutes      int64
numVotes            int64
ordering            int64
region             object
main_genre         object
secondary_genre    object
dtype: object

In [18]:
df_movil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7462 entries, 0 to 7461
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ï»¿tconst        7462 non-null   int64
 1   titleType        7462 non-null   object
 2   originalTitle    7462 non-null   object
 3   startYear        7462 non-null   int64
 4   runtimeMinutes   7462 non-null   int64
 5   numVotes         7462 non-null   int64
 6   ordering         7462 non-null   int64
 7   region           7462 non-null   object
 8   main_genre       7462 non-null   object
 9   secondary_genre  7462 non-null   object
dtypes: int64(5), object(5)
memory usage: 583.1+ KB

In [19]:
df_movil.describe()

          ï»¿tconst    startYear  runtimeMinutes      numVotes    ordering
count  7.462000e+03  7462.000000     7462.000000  7.462000e+03  7462.00000
mean   4.796526e+06  2013.162557      100.792147  7.288656e+04    16.56312
std    4.832862e+06     6.977416       64.615235  1.641005e+05    12.75775
min    6.904900e+04  1990.000000        3.000000  1.000000e+01     1.00000
25%    9.958298e+05  2008.000000       60.000000  6.265250e+03     6.00000
50%    2.915788e+06  2015.000000      101.000000  1.527900e+04    14.00000
75%    7.639099e+06  2019.000000      122.000000  5.648475e+04    24.00000
max    2.822823e+07  2023.000000      990.000000  2.197234e+06   119.00000

In [1]:
# EN EL DICCIONARIO DE DATOS 
#